{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>FWA DV  - Первое веб-приложение DV</title>
    <base href="/">
    <link href="{% static '/resources/favicon.ico' %}" rel="Shortcut Icon" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}" >
    <script>
      window.config = {
        appName: 'FWA DV  - Первое веб-приложение DV',
        locale: 'ru',
        locales: {'ru': 'Русский', },
      }
    </script>
</head>
<body>
  <h1>Creating!</h1>
  <div id="app"></div>
  <script src="{% static '/js/app.js'  %}"></script>
</body>
</html>
